/* Общие настройки */
body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #0f0;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

/* Терминал */
.terminal {
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
    animation: glow 2s infinite alternate;
}

.highlight {
    color: #0ff;
}

.description {
    margin: 10px 0 20px 0;
    font-size: 1.2em;
    animation: fadeIn 2s ease-in-out forwards;
    opacity: 0;
}

.typing {
    font-size: 1.5em;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.cursor {
    display: inline-block;
    background-color: #0f0;
    width: 10px;
    height: 20px;
    margin-left: 5px;
    vertical-align: middle;
    animation: blink 0.5s step-end infinite;
}

/* Анимации */
@keyframes glow {
    from {
        text-shadow: 0 0 5px #0f0, 0 0 10px #0f0, 0 0 20px #0f0;
    }
    to {
        text-shadow: 0 0 10px #0ff, 0 0 20px #0ff, 0 0 40px #0ff;
    }
}

@keyframes blink {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
